<div class="center-info">
	<div class="about-name">about Malachi</div>
	<img class="main-pic" src =<%= @malachi[:image_url] %> >
</div>
<div class="info-text">
	3 Favorite Things:
	<ul>
		<li>Trying new food</li>
		<li>Redskins football</li>
		<li>Red wine</li>
	</ul>
</div>
<img src =  >
<div class="writing-sample">My writing sample:</div>
<div class="text-box"><%= @fake_about_paragraph %></div>