<div class="center-info">
	<div class="about-name">about Malachi</div>
	<img class="main-pic" src="me-large-pic.jpg">
</div>
<div class="info-text">
	Favorite Stuff:
	<ul>
		<li>Beer</li>
		<li>More Beer</li>
		<li>Beer with Beer</li>
	</ul>
</div>