<div class="center-info">
	<div class="about-name">about <%= @fake_name %></div>
	<img class="main-pic" src="http://placezombie.com/300x200">
</div>
<div class="info-text">
	Favorite Things:
	<ul>
		<li>Eating brains</li>
		<li>Long walks</li>
		<li>Never dying</li>
	</ul>
</div>