<div class="center-info">
	<div class="about-name">about Stacey</div>
	<img class="main-pic" src="stacey-large-pic.jpg">
</div>
<div class="info-text">
	Favorite Things:
	<ul>
		<li>Maddie</li>
		<li>PTing kids</li>
		<li>Awesome husband</li>
	</ul>
</div>